<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="Registrera.css">
        </head>
    <body>
        <header>
            <h1>Login</h1>
        </header>

        <div class="Login-container">
            <a class="Login-button" href="Registrera.html">Registrera</a>
        </div>

        <div class="registrera-container">
            <form action="login.php" method="post">
                <label for="username">Användarnamn:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">E-post:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Lösenord:</label>
                <input type="password" id="password" name="password" required>

                <button class="registrera-button" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
